<h1>Project::NewProject#new_project</h1>
<p>Find me in app/views/3-10k/project/new_project/new_project.html.erb</p>

<%= form_tag(three_to_ten_k_project_temp_create_new_url, {method: :put}) do %>

  <%= submit_tag "Create new project", {class:'govuk-button', role: 'button'} %>

<% end %>