<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @organisation,
             page_title: "Select an address"
         }
%>

<h1 class="govuk-heading-l" aria-label="Heading">About your organisation</h1>

<p class="govuk-body" aria-label="information">Your organisation must be based in the UK</p>

<h2 class="govuk-heading-m">Select an address</h2>

<%= form_with(url: organisation_about_assign_address_attributes_path, method: :put, local: true) do |p| %>

  <%= select_tag "address", options_for_select(@response.map { |p| result_formatter(p) }) , class: 'govuk-select' %>

  <%= p.submit "Select", class: 'govuk-button govuk-button--secondary' %>

<% end %>