<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <%= t('views.project.check_your_answers.captital_works') %>
  </dt>
  <dd class="govuk-summary-list__value">

    <% # 'TODO might need to translate booleans'  %>
    <%= @project.capital_work.nil? ? t('views.project.check_your_answers.not_answered') : @project.capital_work %>

    <% # 'TODO Add condition survey content' %>
  </dd>

  <%= render 'project/project_check_answers/change_link' %>

</div>
