<dd class="govuk-summary-list__actions">
  <a class="govuk-link govuk-link--no-visited-state" href="<%= link_url %>">
    Change<span class="govuk-visually-hidden"> answer to '<%= link_hidden_label %>' </span>
  </a>
</dd>
