<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <%= t('views.project.check_your_answers.community_matters') %>
  </dt>
  <dd class="govuk-summary-list__value">
    <%= @project.matter.nil? ? t('views.project.check_your_answers.not_answered') : @project.matter %>
  </dd>
  <%= render 'project/project_check_answers/change_link' %>
</div>
