<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Describe your idea
  </dt>
  <dd class="govuk-summary-list__value">
    <%= @project.description  %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> contact details</span>
    </a>
  </dd>
</div>
