<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <%= t('views.project.check_your_answers.heritage') %>
  </dt>
  <dd class="govuk-summary-list__value">
    <%= @project.heritage_description.nil? ? t('views.project.check_your_answers.not_answered') : @project.heritage_description %>
  </dd>

  <%= render 'project/project_check_answers/change_link' %>

</div>
