<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key">
    <%= t('views.project.check_your_answers.involvement') %>
  </dt>

  <dd class="govuk-summary-list__value">
    <%= @project.involvement_description.present? ? @project.involvement_description : t('views.project.check_your_answers.not_answered')%>
  </dd>

  <%= render partial: 'project/project_check_answers/change_link',
             locals: {
                 link_url: three_to_ten_k_project_description_get_path,
                 link_hidden_label: t('views.project.check_your_answers.involvement'),
                 anchor_id: "project_involvement_description"
             }
  %>

</div>
