<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Project completion date
  </dt>
  <dd class="govuk-summary-list__value">
    <%= @project.end_date.strftime('%d %b %Y').to_s unless @project.end_date.nil? %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> contact information</span>
    </a>
  </dd>
</div>
