<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <%= t('views.project.check_your_answers.project_start_date') %>
  </dt>
  <dd class="govuk-summary-list__value">
    <%= @project.start_date.nil? ? t('views.project.check_your_answers.not_answered') : @project.start_date.strftime('%d %b %Y').to_s %>
  </dd>

  <%= render 'project/project_check_answers/change_link' %>

</div>
