<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Project Title
  </dt>
  <dd class="govuk-summary-list__value">
    <%= @project.project_title %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> name</span>
    </a>
  </dd>
</div>
