<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Project start date
  </dt>
  <dd class="govuk-summary-list__value">

    <%= @project.start_date.strftime('%d %b %Y').to_s unless @project.start_date.nil? %>
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
      Change<span class="govuk-visually-hidden"> name</span>
    </a>
  </dd>
</div>
