<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key govuk-!-width-one-third">
    <%= t('views.project.check_your_answers.project_title') %>
  </dt>

  <dd class="govuk-summary-list__value">
    <%= @project.project_title.present? ? @project.project_title : t('views.project.check_your_answers.not_answered')%>
  </dd>

  <%= render partial: 'project/project_check_answers/change_link',
             locals: {
                 link_url: three_to_ten_k_project_title_get_path,
                 link_hidden_label: t('views.project.check_your_answers.project_title')
             }
  %>

</div>
