<div>

  <h1 class="govuk-heading-l" aria-label="Heading">Who is your legal signatory?</h1>

  <form action="" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            A signatory is a person who is authorised to sign legal documents on behalf of your organisation.
            Please tell us the names of two legal signatories for your organisation
          </h1>
        </legend>

        <h1 class="govuk-heading-m govuk-!-padding-top-3" aria-label="Heading">Legal signatory 1</h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="legal-signatory-name-1">
            Full name
          </label>
          <input class="govuk-input govuk-input--width-20" id="legal-signatory-name-1" name="legal-signatory-name-1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="legal-signatory-email-1">
            email address
          </label>
          <input class="govuk-input govuk-input--width-20" id="legal-signatory-email-1" name="legal-signatory-email-1" type="email">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="legal-signatory-phone-1">
            Phone number
          </label>
          <input class="govuk-input govuk-input--width-20" id="legal-signatory-phone-1" name="legal-signatory-phone-1" type="tel">
        </div>

        <h1 class="govuk-heading-m" aria-label="Heading">Legal signatory 2</h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="legal-signatory-name-2">
            Full name
          </label>
          <input class="govuk-input govuk-input--width-20" id="legal-signatory-name-2" name="legal-signatory-name-2" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="legal-signatory-email-2">
            email address
          </label>
          <input class="govuk-input govuk-input--width-20" id="legal-signatory-email-2" name="legal-signatory-email-2" type="email">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="legal-signatory-phone-2">
            Phone number
          </label>
          <input class="govuk-input govuk-input--width-20" id="legal-signatory-phone-2" name="legal-signatory-phone-2" type="tel">
        </div>

      </fieldset>
    </div>
  </form>

  <button role="button" class="govuk-button" aria-label="save and continue button">Save and continue</button>

  <!--TODO Remove the link when routing is concrete-->
  <% if Rails.env.development? %>
    <br><a href="/organisation/summary">skip to next page</a>
  <% end %>

</div>
