<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">Add your details</span>
  Select an address
</h1>

<%= form_with(url: user_assign_address_attributes_path, method: :put, local: true) do |p| %>

  <%= select_tag "address", options_for_select(@response.map { |p| result_formatter(p) }) , class: 'govuk-select' %>

  <%= p.submit "Select", class: 'govuk-button govuk-button--secondary' %>

<% end %>