<h1 class="govuk-heading-l" aria-label="Heading">Add your details</h1>

<h2 class="govuk-heading-m">Select an address</h2>

<%= form_with(url: user_assign_address_attributes_path, method: :put, local: true) do |p| %>

  <%= select_tag "address", options_for_select(@response.map { |p| result_formatter(p) }) , class: 'govuk-select' %>

  <%= p.submit "Select", class: 'govuk-button govuk-button--secondary' %>

<% end %>