<% content_for :page_title, "Application submitted" %>

<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9">
    <h1 class="govuk-panel__title">
        Your application has been submitted!
    </h1>
</div>

<h2 class="govuk-heading-m govuk-!-margin-bottom-2">What happens next?</h2>

<ul class="govuk-list govuk-list--number">

<li>
  We will send you an email soon with a project reference number.
</li>
<li>
  We will email you to request your organisation's governing, or constitution, documents, if required. We need to see these documents before we can consider your application.
</li>
<li>
  We will then assess your application and let you know our decision within 8 weeks.
</li>

</ul>

<h2 class="govuk-heading-m govuk-!-margin-bottom-2">Priority applications</h2>

<p class="govuk-body">If your project is in Inverclyde or North Lanarkshire we will prioritise your application. This is because these local authority areas are currently under-represented in our funding.</p>
<p class="govuk-body">Priority applications are more likely to be awarded a grant over projects of equal strength.</p>

<div class="govuk-inset-text">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">To receive funding your organisation must:</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      have a UK bank account
    </li>
    <li>
      be able to legally receive funding. This means that your constitution allows you to receive funds
    </li>
  </ul>
</div>
