<div>
  <div>
    <h2 class="govuk-heading-l" aria-label="Heading">About your project</h2>
  </div>

  <form>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="capital-work-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Does your project involve capital work?<br>
            [or] Will capital work be part of your project?
          </h1>
        </legend>
        <span id="capital-work-hint" class="govuk-hint">
          By capital work we mean repair and conservation works, new build, digitisation, or the conservation of artefacts and objects.
        </span>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="capital-work-2" name="capital-work" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="capital-work-2">
              No, capital work is not part of my project
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="capital-work" name="capital-work" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="capital-work">
              Yes, capital work is part of my project
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <!--TODO add upload code etc for condition survey-->
    <button role="button" class="govuk-button" aria-label="save and continue button">Save and continue</button>

  </form>

  <% if Rails.env.development? %>
    <br><a href="/project/permission">skip to next page</a>
  <% end %>

</div>