<h2 class="govuk-heading-l">Select an address</h2>
<%= form_with(url: postcode_save_path, local: true) do |p| %>
<%= select_tag "address", options_for_select(@response.collect {|p| [ [[p[:line_1],p[:line_2],p[:line_3]]].join(', '), p[:udprn] ] }), class: 'govuk-select' %>
<%= p.submit "Select", class: 'govuk-button govuk-button--secondary' %>
<% end %>