<% form_object.errors.each do |attr, msg| %>
  <span id="<%= form_object.class.name.downcase %>[<%= attr %>]-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> <%= msg %>
  </span>
<% end %>