<header class="nlhf-header-global">
    <div class="govuk-width-container">
        <div class="nlhf-header-global__logo">
            <img src="<%= image_path("logo_on_coloured-background.svg") %>" alt="National Lottery Heritage Fund">
        </div>
    </div>
</header>
<div class="govuk-width-container">
    <a href="<%=request.referrer %>" class="govuk-back-link" aria-label="go back">Back</a>
</div>
