<header class="nlhf-header-global">
    <div class="govuk-width-container">
        <div class="nlhf-header-global__logo">
            <img src="<%= image_path("logo_on_coloured-background.svg") %>" alt="National Lottery Heritage Fund">
        </div>
    </div>
</header>
