  <div class="nlhf-panel">
    <h2 class="govuk-heading-m">Don't have an account yet?</h2>
    <p class="govuk-body">Our online account makes filling in your funding applications quicker and easier. And it only takes a couple of minutes to set up.</p>
    <p class="govuk-body govuk-!-margin-bottom-0"><%= link_to "Create an account", new_registration_path(resource_name), class: "nlhf-cta-link" %></p>
  </div>