<div class="govuk-error-summary" aria-labelledby="error-summary-title"
     role="alert" tabindex="-1" data-module="govuk-error-summary">

  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>

  <div class="govuk-error-summary__body">

    <ul class="govuk-list govuk-error-summary__list">

      <% form_object.errors.each do |attr, msg| %>
        <li>
          <a href='#<%= form_object.errors.size == 1 ? first_form_element :
                            "#{form_object_name.present? ? form_object_name : form_object.class.name.downcase}_#{attr.to_s}" %>'>
            <%= msg %>
          </a>
        </li>
      <% end %>

    </ul>

  </div>

</div>