<div class="nlhf-toolbar">
    <div class="nlhf-toolbar__content govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <ul class="nlhf-toolbar__items">
                  <% if user_signed_in? %>
                    <li class="nlhf-toolbar__item">
                      <%= link_to('Your account', edit_user_registration_path, class: 'nlhf-toolbar__link') %>
                    </li>
                    <% end %>
                    <li class="nlhf-toolbar__item">
                      <% if user_signed_in? %>
                        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nlhf-toolbar__link') %>
                        <% else %>
                        <%= link_to('Login', new_user_session_path, class: 'nlhf-toolbar__link') %>
                      <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.nlhf-toolbar -->