<div class="nlhf-toolbar">
    <div class="nlhf-toolbar__content govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <ul class="nlhf-toolbar__items">
                    <li class="nlhf-toolbar__item">
                        <a href="#account" class="nlhf-toolbar__link">Your account</a>
                    </li>
                    <li class="nlhf-toolbar__item">
                        <a href="#account" class="nlhf-toolbar__link">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.nlhf-toolbar -->