<div class="govuk-panel govuk-panel--confirmation">
  
  <h1 class="govuk-panel__title">
    Account created
  </h1>
  <div class="govuk-panel__body">
    You can now start your application
  </div>

</div>

<div class="govuk-label">
  Before you submit your application you will need to upload:
  <ul>
    <li>
      Annual accounts for your organisation, audited by a management accountant
    </li>
  </ul>
  If annual accounts are not available, because your organisation is new:
  <ul>
    <li>
      3 bank statements for your organisation.
    </li>
  </ul>
  We will accept 1 bank statement for your organisation, if your organisation is so new that only 1 statement is available.
</div>

<div class="govuk-!-padding-top-6 ">
  <a href="<%= t :account_created_continue_link %>" role="button" aria-label="continue button" class="govuk-button">Continue</a>
</div>