<div>
  <div>
    <h2 class="govuk-heading-l" aria-label="Heading">About your project</h2>
  </div>

  <form>
    <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">
      <div class="govuk-form-group">
        <label class="govuk-label" for="project-involvement">
          How will your project involve a wider range of people?
        </label>
        <div class="govuk-inset-text">
          This is a mandatory outcome for all projects funded by the National Lottery Heritage Fund.
        </div>
        <span id="with-hint-hint" class="govuk-hint">
          Your answer should tell us how you will reach new groups of people through your projects. Include evidence to support your plans.
        </span>
        <textarea class="govuk-textarea govuk-js-character-count" id="project-involvement" name="project-involvement" rows="5" aria-describedby="project-involvement-info with-hint-hint"></textarea>
      </div>
      <span id="project-involvement-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
        You have 500 words remaining
      </span>
    </div>

    <div>
      <button class="govuk-button" role="button" aria-label="save and continue button">Save and continue</button>
    </div>

  </form>

  <div>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help answering this question
    </span>
      </summary>
      <div class="govuk-details__text">
        TODO - add guidance
      </div>
    </details>
  </div>
  <!--TODO Remove the link when routing is concrete-->
  <% if Rails.env.development? %>
    <a href="/project/other-outcomes">skip to next page</a>
  <% end %>

</div>
