<div>
  <div>
    <h2 class="govuk-heading-m" aria-label="Heading">About your project</h2>
    <h1 class="govuk-heading-l" aria-label="Heading">Describe your idea</h1>
  </div>

  <form>
    <div class="govuk-form-group">
      <label class="govuk-label" for="project-description">
        This helps us understand what your project is all about. Explain the ambitions of your project,
        how it relates to heritage and what you will spend the money on.
      </label>
      <textarea class="govuk-textarea" id="project-description" name="project-description" rows="5"></textarea>
    </div>

    <button class="govuk-button" role="button" aria-label="save and continue button">Save and continue</button>

  </form>

  <!--TODO Remove the link when routing is concrete-->
  <% if Rails.env.development? %>
    <a href="/project/capital-works">skip to next page</a>
  <% end %>

</div>
