<!--<h1>Welcome to the portal 👋</h1>-->
<div>
  <h1 class="govuk-heading-l">Apply for a grant</h1>
  <span class="govuk-body-l">Use this service to:</span><br>
  <span class="govuk-body">Apply for funding from the National Lottery Heritage fund for your heritage project</span>
  <div class="govuk-!-padding-top-6">
    <a class="govuk-button" role="button" href="/account/create-new-account">Start now</a>
  </div>

  <div govuk-!-padding-6>
    <span class="govuk-heading-s">We will ask
    <ul class="govuk-body">
      <li>Questions to find out if your project fits our funding criteria</li>
      <li>What your project will do</li>
      <li>Which of our outcomes your project will achieve</li>
      <li>How much your project will cost</li>
    </ul>
    </span>
  </div>

  <div govuk-!-padding-6>
    <span class="govuk-heading-s">You will need
    <ul class="govuk-body">
      <li>A bank account for your organisation</li>
      <li>A constitution, or governing document, for your organisation</li>
    </ul>
    </span>
  </div>

  <div govuk-!-padding-6>
    <span class="govuk-heading-s">Help with your application/Before you start
    <ul class="govuk-body">
      <li>Read about <a href="">what we fund</a> in more detail</li>
      <li>Learn what we mean by <a href="">project outcomes.</a> Outcomes are what we will assess your application against when making a funding decision</li>
      <li>You might find it helpful to refer to our <a href="">Application Guidance</a> when answering the questions in this form</li>
    </ul>
    </span>
  </div>
</div>

