
<p>Check if you are eligible for funding</p>

<form action="" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What type of organisation will be running your project?
        </h1>
      </legend>

      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="orginisation-type" name="orginisation-type" type="radio" value="Registered charity">
          <label class="govuk-label govuk-radios__label" for="orginisation-type">
            Registered charity
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="orginisation-type-2" name="orginisation-type" type="radio" value="Local authority">
          <label class="govuk-label govuk-radios__label" for="orginisation-type-2">
            Local authority
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="orginisation-type-3" name="orginisation-type" type="radio" value="Registered company">
          <label class="govuk-label govuk-radios__label" for="orginisation-type-3">
            Registered company
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="orginisation-type-4" name="orginisation-type" type="radio" value="Community interest company">
          <label class="govuk-label govuk-radios__label" for="orginisation-type-4">
            Community interest company
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="orginisation-type-5" name="orginisation-type" type="radio" value="Faith-based organisation">
          <label class="govuk-label govuk-radios__label" for="orginisation-type-5">
            Faith-based organisation
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="orginisation-type-6" name="orginisation-type" type="radio" value="Church organisation">
          <label class="govuk-label govuk-radios__label" for="orginisation-type-6">
            Church organisation
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="orginisation-type-7" name="orginisation-type" type="radio" value="Community group">
          <label class="govuk-label govuk-radios__label" for="orginisation-type-7">
            Community group
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="orginisation-type-8" name="orginisation-type" type="radio" value="Voluntary group">
          <label class="govuk-label govuk-radios__label" for="orginisation-type-8">
            Voluntary group
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="orginisation-type-9" name="orginisation-type" type="radio" value="Private owner of heritage">
          <label class="govuk-label govuk-radios__label" for="orginisation-type-9">
            Private owner of heritage
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="orginisation-type-10" name="orginisation-type" type="radio" value="Individual">
          <label class="govuk-label govuk-radios__label" for="orginisation-type-10">
            Individual
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="orginisation-type-11" name="orginisation-type" type="radio" value="Other">
          <label class="govuk-label govuk-radios__label" for="orginisation-type-11">
            Other
          </label>
        </div>
      </div>

    </fieldset>
  </div>

  <button class="govuk-button" role="button" aria-label="save and continue button">Save and continue</button>
</form>

<% if Rails.env.development? %>
  <a href="/organisation/about" >skip to next page</a>
<% end %>
