<div>
  <div>
    <h2 class="govuk-heading-m" aria-label="Heading">About your project</h2>
  </div>

  <form method="post" action="/project/save-project-contributions">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token, id: :form_token %>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="cash-contributions-hint">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Are you getting any cash contributions to your project?
          </h1>
        </legend>

        <div class="govuk-radios">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="cash-contributions" name="cash-contributions" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="cash-contributions">
              Yes
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="cash-contributions-2" name="cash-contributions" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="cash-contributions-2">
              No
            </label>
          </div>
        </div>

      </fieldset>
    </div>

    <button class="govuk-button" role="button" aria-label="save and continue button">Save and continue</button>

  </form>

  <!--TODO Remove the link when routing is concrete-->
  <% if Rails.env.development? %>
    <a href="/project/cash-contribution">skip to next page</a>
  <% end %>

</div>