<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key">
    <%= t('views.funding_application.gp_project.check_your_answers.best_placed') %>
  </dt>

  <dd class="govuk-summary-list__value">
    <%= @funding_application.project.best_placed_description.present? ? @funding_application.project.best_placed_description : t('views.funding_application.gp_project.not_answered')%>
  </dd>

  <%= render partial: 'funding_application/gp_project/check_answers/change_link',
             locals: {
                 link_url: funding_application_gp_project_why_is_your_organisation_best_placed_path,
                 link_hidden_label: t('views.funding_application.gp_project.check_your_answers.best_placed')
             }
  %>

</div>
