<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key">
    <%= t('views.funding_application.gp_project.difference') %>
  </dt>

  <dd class="govuk-summary-list__value">
    <%= @funding_application.project.difference.present? ? @funding_application.project.difference : t('views.funding_application.gp_project.not_answered') %>
  </dd>

  <%= render partial: 'funding_application/gp_project/check_answers/change_link',
             locals: {
                 link_url: funding_application_gp_project_difference_path,
                 link_hidden_label: t('views.funding_application.gp_project.difference')
             }
  %>

</div>
