<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key">
    <%= t('views.funding_application.gp_project.check_your_answers.project_start_date') %>
  </dt>

  <dd class="govuk-summary-list__value">
    <%= @funding_application.project.start_date.present? ? @funding_application.project.start_date.strftime('%d %b %Y').to_s : t('views.funding_application.gp_project.check_your_answers.not_answered') %>
  </dd>

  <%= render partial: 'funding_application/gp_project/check_answers/change_link',
             locals: {
                 link_url: funding_application_gp_project_key_dates_path,
                 link_hidden_label: t('views.funding_application.gp_project.check_your_answers.project_start_date')
             }
  %>

</div>
