<div>
  <h1 class="govuk-heading-l" aria-label="Heading">About your organisation</h1>

  <form>
    <div class="govuk-form-group">
      <label class="govuk-heading-m" for="company-number">
        What is your company number?
      </label>
      <span class="govuk-caption-m">
        If you have a company number, related to this project, it would be helpful if you provide it.
        If you need help, please read <a tartget="_blank" href="<%= t :how_to_find_company_number_link %>">how to find my company number</a>
      </span>
      <input class="govuk-input govuk-input--width-20" id="company-number" name="company-number" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-heading-m" for="charity-number">
        What is your charity number?
      </label>
      <span class="govuk-caption-m">
        If you have a charity number, related to this project, it would be helpful if you provide it.
        If you need help, please read <a target="_blank" href="<%= t :how_to_find_charity_number_link %>">how to find my charity number</a>
      </span>
      <input class="govuk-input govuk-input--width-20" id="charity-number" name="charity-number" type="text">
    </div>
  </form>
  <button class="govuk-button" role="button" aria-label="save and continue button">Save and continue</button>

  <% if Rails.env.development? %>
    <br><a href="/organisation/about">skip to next page</a>
  <% end %>

</div>