

   .nlhf-banner {
    border: 5px solid govuk-colour("blue");
    color: govuk-colour("blue");
    font-size: 0; // Removes white space when using inline-block on child element.
    margin-bottom: govuk-spacing(6);
    padding: govuk-spacing(3);
  }
  
  
  .nlhf-banner__icon {
    fill: currentColor;
    float: left;
    margin-right: govuk-spacing(2);
  }
  
  .nlhf-banner__message {
    @include govuk-font($size: 19);
    color: govuk-colour("black");
    display: block;
    overflow: hidden;
  }
  
  .nlhf-banner__message h2 {
    margin-bottom: govuk-spacing(2);
  }
  
  
  .nlhf-banner__message h2:last-child,
  .nlhf-banner__message p:last-child {
    margin-bottom: 0;
  }
  
  
  .nlhf-banner__assistive {
    @include govuk-visually-hidden;
  }
  
  
  /* Style variants
     ========================================================================== */
  
  .nlhf-banner--success {
    border-color: govuk-colour("green");
    color: govuk-colour("green");
  }
  
  
  .nlhf-banner--warning {
    border-color: govuk-colour("red");
    color: govuk-colour("red");
  }