.nlhf-currency-denote {
    display: flex;
    align-items: stretch;
    &__symbol {
        border: 2px solid #000;
        background-color: govuk-colour("light-grey");
        border-right: 0;
        padding: 0 govuk-spacing(3);
        font-family: $govuk-font-family;
        @include govuk-font($size: 19, $weight: bold, $line-height: 1.75);
    }
    &__capture {
        width: 100%;
    }
}