.nlhf-header-global {
    padding: govuk-spacing(3) 0;
    background: get('colour.blue.default');
    color: #fff;
    &__logo {
        width: to-rem(150px);
    }
}

// IE10 to fix SVG height issue
_:-ms-input-placeholder, :root .nlhf-header-global__logo-image {
    height: 100%;
}