.nlhf-list--links {
    .nlhf-list {
        &__item {
            padding-top: govuk-spacing(3);
            padding-bottom: govuk-spacing(3);
            padding-left: .5em;
            border-bottom: 1px solid #ccc;
            &:first-child {
                border-top: 1px solid #ccc;
            }
        }
    }
}

.nlhf-list--dash {
    list-style-type: none;
    li:before {
        content: '\2013';
        position: absolute;
        margin-left: -1.15em;
        color: inherit;
    }
}