// #########################################################
// The following 'unbrands' govuk frontend
// #########################################################

// Style links and paragraphs by default
$govuk-global-styles: true;

// Override the govuk-frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with
// the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

// #########################################################
// The following are National Lottery Heritage Fund settings
// #########################################################

// map of nlhf specific variables for use with 'get'
// which can be found tools/_get.scss
$nlhf-settings: (
    'colour': (
        'blue' : (
            'default': #005565
        ),
        'stone' : (
            'default': #f1ede2,
            '20': #f4f1e7
        ),
        'gold' : (
            'default': #a89357,
            '60': #b9b191
        )
    )
);

$theme: $nlhf-settings;