<div>
  <div>
    <h2 class="govuk-heading-l" aria-label="Heading">About your project</h2>
  </div>

  <form>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="other-project-outcomes-hint">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="other-project-outcomes-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Will your project achieve any of our other outcomes?
              </h1>
            </legend>
            <span id="other-project-outcomes-hint" class="govuk-hint">
              Check the outcomes you will achieve and describe how you will achieve them
            </span>

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="other-project-outcomes" name="other-project-outcomes" type="checkbox" value="Heritage will be in a better condition">
                <label class="govuk-label govuk-checkboxes__label" for="other-project-outcomes">
                  Heritage will be in a better condition
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="other-project-outcomes-conditional" name="other-project-outcomes" type="checkbox" value="Heritage will be identified and better explained" data-aria-controls="conditional-other-project-outcomes-conditional">
                <label class="govuk-label govuk-checkboxes__label" for="other-project-outcomes-conditional">
                  Heritage will be identified and better explained
                </label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-other-project-outcomes-conditional">
                <div class="govuk-form-group">
                  <div class="govuk-character-count nlhf-check-box-extra-info" data-module="govuk-character-count" data-maxwords="300">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="outcome-achieved-by">
                        How will you achieve this outcome?
                      </label>
                      <textarea class="govuk-textarea govuk-js-character-count" id="outcome-achieved-by" name="outcome-achieved-by" rows="5" aria-describedby="outcome-achieved-by-info"></textarea>
                    </div>



                    <span id="outcome-achieved-by-info" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 300 words remaining</span>
                  </div>
                </div>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="other-project-outcomes-3" name="other-project-outcomes" type="checkbox" value="People will have developed skills">
                <label class="govuk-label govuk-checkboxes__label" for="other-project-outcomes-3">
                  People will have developed skills
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="other-project-outcomes-4" name="other-project-outcomes" type="checkbox" value="People will have learned about heritage, leading to change in ideas and actions">
                <label class="govuk-label govuk-checkboxes__label" for="other-project-outcomes-4">
                  People will have learned about heritage, leading to change in ideas and actions
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="other-project-outcomes-5" name="other-project-outcomes" type="checkbox" value="People will have a greater wellbeing">
                <label class="govuk-label govuk-checkboxes__label" for="other-project-outcomes-5">
                  People will have a greater wellbeing
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="other-project-outcomes-6" name="other-project-outcomes" type="checkbox" value="The funded organisation will be more resilient">
                <label class="govuk-label govuk-checkboxes__label" for="other-project-outcomes-6">
                  The funded organisation will be more resilient
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="other-project-outcomes-7" name="other-project-outcomes" type="checkbox" value="The local area will be a better place to live, work or visit">
                <label class="govuk-label govuk-checkboxes__label" for="other-project-outcomes-7">
                  The local area will be a better place to live, work or visit
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="other-project-outcomes-8" name="other-project-outcomes" type="checkbox" value="The local economy will be boosted">
                <label class="govuk-label govuk-checkboxes__label" for="other-project-outcomes-8">
                  The local economy will be boosted
                </label>
              </div>

            </div>

          </fieldset>
        </div>
      </fieldset>
    </div>

    <button class="govuk-button" role="button" aria-label="save and continue button">Save and continue</button>

  </form>

  <!--TODO Remove the link when routing is concrete-->
  <% if Rails.env.development? %>
    <a href="/3-10k/project/costs">skip to next page</a>
  <% end %>
</div>
