
<div>

  <h1 class="govuk-heading-l" aria-label="Heading">About your organisation</h1>

  <form action="" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Tell us about the mission, or objectives of your organisation
          </h1>
        </legend>

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="orginisation-mission" name="orginisation-mission" type="radio" value="Black or minority ethnic led">
            <label class="govuk-label govuk-radios__label" for="orginisation-mission">
              Black or minority ethnic led
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="orginisation-mission-2" name="orginisation-mission" type="radio" value="Disability led">
            <label class="govuk-label govuk-radios__label" for="orginisation-mission-2">
              Disability led
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="orginisation-mission-3" name="orginisation-mission" type="radio" value="LGBT+ led">
            <label class="govuk-label govuk-radios__label" for="orginisation-mission-3">
              LGBT+ led
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="orginisation-mission-4" name="orginisation-mission" type="radio" value="Female led">
            <label class="govuk-label govuk-radios__label" for="orginisation-mission-4">
              Female led
            </label>
          </div>


          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="orginisation-mission-5" name="orginisation-mission" type="radio" value="Young people ledd">
            <label class="govuk-label govuk-radios__label" for="orginisation-mission-5">
              Young people led
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </form>

  <button role="button" class="govuk-button" aria-label="save and continue button">Save and continue</button>

  <!--TODO Remove the link when routing is concrete-->
  <% if Rails.env.development? %>
    <br><a href="/organisation/signatory">skip to next page</a>
  <% end %>

</div>
