<div>
  <div>
    <h2 class="govuk-heading-m" aria-label="Heading">About your project</h2>
    <h1 class="govuk-heading-l" aria-label="Heading">Where is your project taking place?</h1>
  </div>

  <form>
    <div class="govuk-form-group">
      <label class="govuk-label" for="other-locations">
        Please enter the main postcode of your project.
        If your project does not have a postcode, enter the postcode nearest to your project.
        You can also add an Ordnance Survey grid reference.
        If your project is taking place across two or more locations, please give details.
      </label>
      <textarea class="govuk-textarea" id="other-locations" name="other-locations" rows="5"></textarea>
    </div>

    <button class="govuk-button" role="button" aria-label="save and continue button">Save and continue</button>

  </form>

  <!--TODO Remove the link when routing is concrete-->
  <% if Rails.env.development? %>
    <a href="/project/description">skip to next page</a>
  <% end %>

</div>
