<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key">
    <%= t('views.project.check_your_answers.evidence_of_support') %>
  </dt>

  <dd class="govuk-summary-list__value">

    <table class="govuk-table">

      <thead class="govuk-table__head">

      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Description</th>
        <th scope="col" class="govuk-table__header">Files</th>
      </tr>

      </thead>

      <tbody class="govuk-table__body">

      <% @project.evidence_of_support.each do |eos| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= eos.description %></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <%=
              link_to(
                  eos.evidence_of_support_files.blob.filename,
                  rails_blob_path(
                      eos.evidence_of_support_files.blob,
                      disposition: "attachment"
                  )
              )
            %>
          </td>
        </tr>
      <% end %>

      </tbody>

    </table>

  </dd>

  <%= render partial: 'project/check_answers/change_link',
             locals: {
                 link_url: three_to_ten_k_project_evidence_of_support_path,
                 link_hidden_label: t('views.project.check_your_answers.evidence_of_support')
             }
  %>

</div>
