<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key">
    <%= t('views.project.check_your_answers.project_start_date') %>
  </dt>

  <dd class="govuk-summary-list__value">
    <%= @project.start_date.present? ? @project.start_date.strftime('%d %b %Y').to_s : t('views.project.check_your_answers.not_answered') %>
  </dd>

  <%= render partial: 'project/check_answers/change_link',
             locals: {
                 link_url: three_to_ten_k_project_dates_get_path,
                 link_hidden_label: t('views.project.check_your_answers.project_start_date')
             }
  %>

</div>
